<div class="filters-container" [formGroup]="formGroup">

  <mat-form-field appearance="outline">
    <mat-label>Repository Name</mat-label>
    <input test-selector="filters-name-input" matInput formControlName="name" placeholder="Enter repository name">
  </mat-form-field>

  <app-code-language-autocomplete formControlName="language"></app-code-language-autocomplete>

  <mat-form-field appearance="outline">
    <mat-label>Minimum stars</mat-label>
    <input test-selector="filters-stars-input" matInput type="number" formControlName="stars" placeholder="Enter minimum stars">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Issue</mat-label>
    <input test-selector="filters-issue-input" matInput formControlName="issue" placeholder="Enter repository issue">
  </mat-form-field>

</div>
